<!DOCTYPE html>
<html>
<head>
    <% include header %>
</head>
<body>
    <% include navbar %>
    <div class="container-fluid">
<ul>
    <% for(var i=0; i<data.length; i++) {
        var post = data[i];
    %>
    <li>
        <h2><%= post.heading  %> </h2>

        <div><% if(post.type == "news"){%> Author: <%- post.author -%><br>
            Email: <%- post.email -%> <br>
            <%- post.content -%> <br>
            <%}%>   </div>
        <% if(post.type == "picture"){
        %>
            <h4><%- post.content -%></h4>
            <img src="<%=post.imgUrl%>" /><br>
        <%}%>
            <% if(post.type == "news" || post.type == "picture"){%><%- post.datePublished -%>
            <%}%>
    </li>
    <% } %>
</ul>
    </div>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
      <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
<!--<%- JSON.stringify(post, null, 4) -%>-->
